<launch>
    <include file="$(find hok)/launch/usb_cam.launch">
        <arg name="image_display_topic" value="/tag_detections_image"/>
    </include>

    <include file="$(find apriltag_ros)/launch/continuous_detection.launch">
        <arg name="camera_name" value="/usb_cam" />
        <arg name="camera_frame" value="usb_cam" />
        <arg name="image_topic" value="image_rect" />
    </include>

    <rosparam command="load" file="$(find hok)/config/settings.yaml" ns="apriltag_ros_continuous_node" />
    <rosparam command="load" file="$(find hok)/config/tags.yaml" ns="apriltag_ros_continuous_node" />

    <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 1.5 -1 0 0 1 map usb_cam 100" />
    <node type="rviz" name="rviz" pkg="rviz" />
</launch>

