<launch>
    <node name="urg_node" pkg="urg_node" type="urg_node" output="screen" />
    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
        <param name="video_device" value="/dev/video0" />
        <param name="camera_frame_id" value="usb_cam" />
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="io_method" value="mmap"/>
    </node>

    <arg name="camera" default="/usb_cam"/>
    <arg name="image" default="image_raw"/>
    <arg name="transport" default="compressed"/>

    <node name="listener" pkg="hok" type="listener.py" output="screen">
        <param name="haar_config" value="$(find hok)/config/haarcascade_frontalface_default.xml" />
    </node>
    <node pkg="tf" type="static_transform_publisher" name="link2_broadcaster" args="0 0 1.5 -1 0 0 1 map laser 100" />
</launch>
